body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f5f375;
    margin: 0;
    padding: 0;
}

.container {
    width:500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 25px 250px 0px 200px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to left,rgb(109, 223, 210),rgb(183, 119, 200));
}
.container h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 42px;
    padding-bottom:15px;
}
li,.task-text{
    width:10px;
}

 h2 {
    color: #333;
}

input {
    flex:1;
    padding: 15px 22px 15px 20px;
    border:none;
    border-radius: none;
    background: transparent;
    font-weight: 14px;
    outline:none;
    font-size: 13px;
    
}

button {
    width:250%;
    padding: 10px 10px auto;
    background-color: #3c9f40;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.initial{
    display:flex;
    border:2px solid rgb(248, 247, 247);
    margin:0px 100px 2px 100px;
    background-color: rgb(249, 247, 247);
    border-radius: 40px;
    font-size: 20px;
}

.tasks-container {
    margin-top: 20px;
    
}
li,button,.task-text,.date{
    margin:3px;
    
}
li,.task-text{
    margin-right:50px;
}

#Addbtn{
    padding:15px 30px;
    background-color: rgba(234, 49, 17, 0.965);
}

.tasks{
    display:grid;
    grid-template-columns:330px 325px ;
    grid-gap:80px;
}
.tasks-container h2{
    margin-right:190px;
    font-family:cursive;
    font-style:initial;

}

ul {
    display:block;
    list-style:none;
    padding: 0;
    
}

li {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px ;
    margin-left:60px;
    margin-left:-100px;
    border-radius: 25px;
    width:35vh;
}


.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.date {
    font-size: 12px;
    color: #777;
}
